<launch>
  <!-- urdf xml robot description loaded on the Parameter Server-->
  <param name="robot_description" textfile="$(find big_red_launch_configs)/urdf/BMT_BRD.urdf" />

  <!-- publish all the frames to TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" output="screen" >
    <param name="publish_frequency" value="400"/> <!-- Hz -->
  </node>  
</launch>